<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add Items</title>
</head>
<body>
	<h3>Edit</h3>
	<form action="/chuck/<%=quotes.id%>" method="POST" edit="editformid">
		<input type="text" name="chuck_type" value="cateogory">
		<br>
		<input type="text" name="img" value="img">
		 <input type="hidden" name="_method" value="PUT"/>
		<br>
		<button>Submit</button>
	</form>
	</div>
</body>
</html>