<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pokeymanz</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
<div id="container">
        <img src= "<%=quotes.img%>" />
        <ul>
            <li><%=quotes.chuck_type%></li>
        </ul>
</div>
	<a href="/chuck/<%=quotes.id%>/edit">Make Edits!!</a>
</body>
</html>