<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chuck</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
<div id="container">
        <img src= "<%=quotes.img%>" />
</div>
	<a href="/chuck/<%=quotes.id%>/edit">Make Edits!!</a>
		<form action="/chuck/<%= quotes.id %>" method="POST">
		  <input type="hidden" name="_method" value="DELETE"/>
		  <button>Delete Me</button>
		</form>
<!-- 
		<form action="/chuck/<%= quotes.id%>/buy" method="POST">
		  <input type="hidden" name="_method" value="PUT"/>
		  <button>Add Date and Find Quotes</button>
		</form> -->
</body>
</html>