* {
	margin: 15px;
	padding: 0;
	text-align: center;
}

body{
/*	margin: 0px;
	padding: 0px;*/
	background-image: url('https://pixabay.com/static/uploads/photo/2012/04/28/18/01/texas-43792_960_720.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100%;
}
header{
	background-image: url("http://www.templateof.com/postpic/2011/06/patriotic-american-flag-header_273635.jpg");
	width: 100%;
	height: 80px;
}

h2 {
	font-size: 30px;
	font-family: Verdana;
	padding: 10px;
	color: #2F39A3;
	border-color: black;
}
img {
	max-width: 250px;
	border: 1px solid black;
}
.chuck-container {
	list-style: none;
	display: inline-block;
}
li {
	display: inline-block;
}

a{
	font-size: 15px;
	display: inline-block;
	font-family: Verdana;
	color: blue;
}
a:hover{
	border-bottom: 4px solid red;
	padding: 0px;
}
